<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="label_style.css">
</head>
<body>
    <div class="label-content">
        <div class="info">
            <p class="line1">
                <span class="bib-number">$bib</span>
                <span>-</span>
                <span>$name</span>
                <span>-</span>
                <span>$weight kg</span>
            </p>
            <p class="line2">$team</p>
            <p class="line3">$timestamp</p>
        </div>
        <div class="qrcode">
            $qrcode_img
        </div>
    </div>
</body>
</html>